body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

form {
    text-align: center;
    margin: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #333;
}

main {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    margin: 10px;
}

img#poster {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 15px;
}

/* Responsive styling */
@media screen and (max-width: 600px) {
    form {
        display: flex;
        flex-direction: column;
    }

    input[type="text"] {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
